@import '../styles/mixins';

.field {
  position: relative;
  left: 20px;
  height: 4rem;
  width: 4rem;
}

.count {
  position: absolute;
  font-size: 10px;
  top: 41px;
  right: 7px;
}

.base {
  position: absolute;
  transform: rotate(45deg);
  // experimental changes
  width: 15px;
  height: 15px;
  background: $card-color;
  border: 1px solid $primary-text-color;
}

.firstBase {
  @extend .base;
  top: 20px;
  right: 10px;

  &_runnerOn {
    @extend .firstBase;
    background: $runnerOnBase;
  }
}

.secondBase {
  @extend .base;
  top: 8px;
  right: 23px;

    &_runnerOn {
    @extend .secondBase;
    background: $runnerOnBase;
  }
}

.thirdBase {
  @extend .base;
  top: 20px;
  right: 36px;

    &_runnerOn {
    @extend .thirdBase;
    background: $runnerOnBase;
  }
}
