@import '../styles/mixins';

.table {
  // border: 1px solid $hover-color;
  border-collapse: separate !important;
  border-spacing: 0;
  // border-radius: 5px;
  // overflow: hidden;
  font-weight: 200;
  font-size: 14px;
  width: 100%;
  text-align: center;
  table-layout: fixed;
  background-color: $card-color;
  // margin-bottom: 10px;
  &:last-child {
    margin-bottom: 0px;
  }
}

.header {
  // background-color: $card-color;
  & tr {
    & th {
      font-weight: 500;
      border-bottom: 1px solid #f0f0f0aa;
      &:first-child {
        margin-right: 5px;
        text-align: start;
        border-right: 1px solid #f0f0f0aa;
        width: 80px;
      }
    }
  }
}

.body {
  & tr {
    // background-color: $even-row;
    &:nth-child(odd) {
      background-color: $odd-row;
    }
    & td {
      border-bottom: 1px solid rgba(245, 245, 245, 0.2);
      &:first-child {
        border-right: 1px solid #f0f0f0aa;
        text-align: center;
        display: flex;
        // justify-content: space-between;
      }
    }
  }
}
