@import '../styles/mixins';

.parent {
  background-color: black;
  display: flex;
  flex-direction: column;
  //optionally set height and width, it will depend on the rest of the styling used
}

.child {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.dateGame {
  @extend .child;
  padding: 3px 0;
  border-top: 1px solid grey;
  color: white;
  font-size: 16px;
}

.games {
  display: grid;
  border: 1px solid blue;
  padding-bottom: 1rem;

  @include device-size(phone) {
    grid-template-columns: 1fr;
    width: 100vw;
  }

  @include device-size(tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 100vw;
    padding: 0 10px;
  }

  @include device-size(tablet-laptop) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 80vw;
    margin: 0 auto;
  }

  @include device-size(large-computer) {
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 90vw;
    margin: 0 auto;
  }


  // &::after {
  //   content: '';
  //   flex: auto;
  // }
}

// .games::after {
//   content: '';
//   flex: auto;
// }
