@import '../styles/mixins';

.parent {
  background-color: $card-color;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  @include device-size(phone) {
    margin: 5px 5px 0.5rem;
    border-radius: 5px;
  }
  @include device-size(miniDevice) {
    margin: 5px;
    border-radius: 5px;
  }
  @include device-size(large-computer) {
    margin-bottom: 1.5rem;
  }
  @include device-size(tablet-laptop) {
    margin-bottom: 1.5rem;
  }
  @include device-size(tablet) {
    margin-bottom: 1rem;
  }
  @include device-size(miniDevice) {
    margin-bottom: 0.5rem;
  }
  
  //optionally set height and width, it will depend on the rest of the styling used
}

// .flex {
//   display: flex;
//   flex-direction: row;
// }

.index {
  display: flex;
  flex-direction: column;
  @include device-size(miniDevice) {
    margin: 1rem 0;
  }
}

.child {
  // @extend .flex;
  display: flex;
  flex-direction: column;
  padding: 0 1rem;
  height: 100%;
  justify-content: center;
}

.menu {
  width: 60px;
  display: flex;
  flex-direction: column;
}

// style for the three line menu bar
.bar {
  height: 3px;
  width: 50%;
  background-color: $secondary-text-color;
  margin: 2px auto 2px;
  border-radius: 5px;
}

.todayContainer {
  display: flex;
  color: $secondary-text-color;
  font-size: 16px;
  // @include device-size(phone) {
  //   padding: 0.5rem 0 0.5rem;
  // }
}

.dateContainer {
  @extend .todayContainer;
  justify-content: space-between;
  margin: 0 auto;
  width: 300px;
  @include device-size(phone) {
    width: 100%;
    padding: 0 5px;
  }
  @include device-size(miniDevice) {
    width: 70vw;
  }
}

.gameDate {
  align-self: center;
  background-color: $hover-color;
  // opacity: 0.2;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  margin: 0 5px;
}

.todayDisplay {
  @extend .gameDate;
  &:hover {
    cursor: pointer;
  }
}

.arrows {
  // align-self: center;
  height: 40px;
  width: 40px;
  // padding: 0.5rem 1rem;
  // background-color: $secondary-text-color;
  border-radius: 50%;
  background: radial-gradient(circle at center, $secondary-text-color 50%, $hover-color 51%);
  color: $hover-color;
  // margin: 0 1rem;
  @include device-size(phone) {
    margin: 0 calc(10px + 1rem);
  }
  &:hover {
    cursor: pointer;
  }
}

.games {
  display: grid;
  padding: 0.5rem;
  border-radius: 5px;

  @include device-size(phone) {
    grid-template-columns: 1fr;
    width: 100vw;
    row-gap: 5px;
  }

  @include device-size(miniDevice) {
    row-gap: 5px;
  }

  @include device-size(tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    width: 100vw;
    padding: 1rem;
  }

  @include device-size(tablet-laptop) {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    width: 80vw;
    margin: 1rem auto;
  }

  @include device-size(large-computer) {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 90vw;
    margin: 1rem auto;
  }
}

.standings {
  display: grid;
  border-radius: 5px;

  @include device-size(phone) {
    grid-template-columns: 1fr;
    width: 100vw;
    row-gap: 5px;
  }

  @include device-size(tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 90vw;
    padding: 1rem;
    margin: 1rem auto;
  }

  @include device-size(tablet-laptop) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 80vw;
    margin: 2rem auto;
  }

  @include device-size(large-computer) {
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    width: 90vw;
    margin: 2rem auto;
  }
}
