@import '../styles/mixins';

.section {
  background-color: $card-color;
  border-radius: 5px;
  padding: 10px;
  @include device-size(phone) {
    padding: 5px;
    margin: 5px 5px 0;
  }

  @include device-size(miniDevice) {
    padding: 5px;
    margin: 5px;
  }
}

.league {
  padding-bottom: 0.25rem;
  margin: 0;
  font-weight: 400;
  // border-radius: 5px;
  border-bottom: 1px solid #F0F0F0AA;
  border-width: thin;
}

.AmericanLeague {
  @extend .league; 
  // background-color: $AmericanLeagueRed;
}

.NationalLeague {
  @extend .league; 
  // background-color: $NationalLeagueBlue;
}