
@mixin device-size($device) {
  @if $device == phone {
    @media screen and (max-width: 600px) { @content; }
  } @else if $device == tablet {
    @media screen and (min-width: 768px) and (max-width: 991px) { @content; }
  } @else if $device == tablet-laptop {
    @media screen and (min-width: 992px) and (max-width: 1199px) { @content; }
  } @else if $device == large-computer {
    @media screen and (min-width: 1200px) { @content; }
  }
}

$background-color: #18191A;
$card-color: #242526;
$primary-text-color: #E4E6EB;
$secondary-text-color: #B0B3B8;
$hover-color: #3A3B3C;
$date-color: #9E9E9E1A;