
@mixin device-size($device) {
  @if $device == phone {
    @media screen and (max-width: 600px) { @content; }
  } @else if $device == miniDevice {
    @media screen and (min-width: 601px) and (max-width: 767px) { @content; }
  } @else if $device == tablet {
    @media screen and (min-width: 768px) and (max-width: 991px) { @content; }
  } @else if $device == tablet-laptop {
    @media screen and (min-width: 992px) and (max-width: 1199px) { @content; }
  } @else if $device == large-computer {
    @media screen and (min-width: 1200px) { @content; }
  }
}

$background-color: #15202B;
$card-color: #192734;
$primary-text-color: #E4E6EB;
$secondary-text-color: #B0B3B8;
$hover-color: #2F4354;
$date-color: #9E9E9E1A;
$runnerOnBase: #DBA93D;
$AmericanLeagueRed: #B0002E;
$NationalLeagueBlue: #0E4082;
$table-header: #15202B;
$even-row: #192734;
$odd-row: #22303CAA;
$score-color: #405259;
$loading-color: #38494F;
$selected-color: #65739E35;