@import './mixins';

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $primary-text-color;
  background-color: $background-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  background-color: $card-color;
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem 1rem 1rem;
  margin-top: auto;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.score {
  border: 1px solid $hover-color;
  border-radius: 5px;
  background-color: $card-color;
}

.score.wrapper {
  background-image: linear-gradient(90deg, $card-color, $hover-color 48%, $hover-color 52%, $card-color);
  animation: shimmer 1.2s ease-in-out infinite;
  background-repeat: no-repeat;
  width: 100%;
}

// loading animation for skeleton
@keyframes shimmer {
  0% {
    background-position: -450px 0;
  }
  100% {
    background-position: calc(450px + 100%) 0;
  }
}
