@import './mixins';

html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  color: $primary-text-color;
  background-color: $background-color;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

footer {
  background-color: $card-color;
  display: flex;
  flex-direction: row-reverse;
  padding: 1rem 1rem 1rem;
  margin-top: auto;
}

#__next {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.score {
  border: 1px solid $hover-color;
  border-radius: 5px;
  background-color: $card-color;
}