@import '../styles/mixins';

.dateContainer {
  display: flex;
  color: $secondary-text-color;
  font-size: 16px;
  justify-content: space-between;
  margin: 0 auto;
  width: 300px;
  @include device-size(phone) {
    width: 100%;
    padding: 0 5px;
  }
  @include device-size(miniDevice) {
    width: 70vw;
  }
}

.arrows {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  background: radial-gradient(circle at center, $secondary-text-color 50%, $hover-color 51%);
  color: $hover-color;
  transition: 0.3s;
  @include device-size(phone) {
    margin: 0 calc(10px + 1rem);
  }
  &:hover {
    cursor: pointer;
    background: radial-gradient(circle at center, $primary-text-color 50%, $hover-color 51%);
  }
}

.gameDate {
  color: $primary-text-color;
  align-self: center;
  background-color: $hover-color;
  border-radius: 30px;
  padding: 0.5rem 1rem;
  margin: 0 5px;
}

.games {
  display: grid;
  padding: 0.5rem;
  border-radius: 5px;

  @include device-size(phone) {
    grid-template-columns: 1fr;
    width: 100vw;
    row-gap: 5px;
  }

  @include device-size(miniDevice) {
    row-gap: 5px;
  }

  @include device-size(tablet) {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    width: 100vw;
    padding: 1rem;
  }

  @include device-size(tablet-laptop) {
    grid-template-columns: repeat(2, 1fr);
    gap: 5px;
    width: 80vw;
    margin: 1rem auto;
  }

  @include device-size(large-computer) {
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    width: 90vw;
    margin: 1rem auto;
  }
}
