// .score {
//   border: 1px solid $hover-color;
//   border-radius: 5px;
//   background-color: $card-color;
// }

@import './mixins';

.container {
  height: 110px;
  transition: height 0.4s ease-in-out;
  @include device-size(phone) {
    height: 78px;
  }
  @include device-size(miniDevice) {
    height: 78px;
  }
  background-color: #405259;
  padding: 4px 0px;
  border: 1px solid #2f4354;
  border-radius: 5px;
}

.containerExpandedHeight {
  @extend .container;
  height: 140px;
  @include device-size(phone) {
    height: 108px;
  }
  @include device-size(miniDevice) {
    height: 108px;
  }
}

// need to change to make the element stay a fixed height
.everything {
  width: 100%;
  display: flex;
  flex-direction: row;
  // height: 100%;
  height: 100px;
  // height: 4.5rem;
  @include device-size(phone) {
    height: 68px;
  }
  @include device-size(miniDevice) {
    height: 68px;
  }
}

.everythingExpandedHeight {
  @extend.everything;
  height: 100px;
  @include device-size(phone) {
    height: 68px;
  }
  @include device-size(miniDevice) {
    height: 68px;
  }
}

.dataButtons {
  height: 20px;
}

.nameAndScore {
  width: 50%;
}

.teamRow {
  display: flex;
  height: 40%;
  border-right: 1px solid lightgray;
  @include device-size(phone) {
    border: none;
    height: 50%;
  }
  @include device-size(miniDevice) {
    border: none;
    height: 50%;
  }
  align-items: center;
}

.image {
  padding-left: 5px;
  flex-basis: 30px;
  flex-shrink: 0;
}

.record {
  flex-basis: 150px;
  flex-grow: 1;
  height: 100%;
}

.runs {
  display: flex;
  flex-basis: 200px;
  @include device-size(phone) {
    flex-basis: 10px;
    flex-grow: 0.4;
    // justify-content: flex-end;
  }
  @include device-size(miniDevice) {
    flex-basis: 20px;
    flex-grow: 1;
  }
  justify-content: space-evenly;
  // text-align: center;
}

.runs_Preview {
  @extend .runs;
  visibility: hidden;
}

.teamName {
  padding-left: 8px;
  height: 50%;
  font-size: 13px;
}

.winLoss {
  padding-left: 8px;
  height: 50%;
  font-size: 10px;
}

.basesInning {
  height: 100%;
  width: 50%;
  position: relative;
}

.basesContainer {
  width: 50%;
  height: 100%;
  position: absolute;
  // left: 20px;
}

.linescore {
  width: 50px;
  display: flex;
  flex-direction: column;
  height: 100%;
}

.fakeImage {
  @extend .image;
}

.fakeRecord {
  @extend .record;
}

.rhe {
  font-size: 12px;
  font-weight: 300;
  display: flex;
  flex-basis: 200px;
  border-bottom: 1px solid lightgray;
  border-right: 1px solid lightgray;
  padding-bottom: 5px;
  @include device-size(phone) {
    border: none;
    display: none;
  }
  @include device-size(miniDevice) {
    border: none;
    display: none;
  }
}

.entry_container {
  height: 18px;
  width: 18px;
  text-align: center;
}

.hits_errors {
  @extend .entry_container;
  @include device-size(phone) {
    display: none;
  }
  @include device-size(miniDevice) {
    display: none;
  }
}

.probablesContainer {
  position: absolute;
  bottom: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: auto;

  @media screen and (max-width: 992px) {
    display: none;
  }
}

.heading {
  font-weight: 300;
  padding-left: 8px;
}

.pitcherName {
  font-weight: 400;
  font-size: 13px;
  padding-left: 8px;
}

.wl_ERA {
  font-weight: 300;
  font-size: 10px;
  padding-left: 8px;
}

.tbd_pitcher {
  @extend .wl_ERA;
  visibility: hidden;
}

.gameDecision {
  height: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
  justify-content: space-between;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
