@import './_mixins.scss';

.container {
  display: flex;
  justify-content: space-between;
  align-content: center;
  width: 200px;
  margin: 3px auto 1px;
  font-size: 20px;
  background-color: $hover-color;
  border-radius: 50px;
}

.element {
  color: $secondary-text-color;
  height: 50px;
  padding: 10px 16px;
  cursor: pointer;
}

.selectedElement {
  @extend .element;
  color: $primary-text-color;
  background-color: $selected-color;
  border-radius: 50px;
  // box-shadow: inset 0px 0px aliceblue, inset 1px 1px 1px -4px aliceblue, 0px 0px 1px 1px aliceblue, 0px 0px 1px 1px aliceblue;
  // filter: drop-shadow(0 0 2px aliceblue);
}